@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
i,
b,
li {
  font-style: normal;
  font-weight: normal;
  list-style: none;
}
h1 img {
  width: 200px;
  height: 62px;
  margin-left: 192px;
  margin-top: 15px;
}
.logo {
  display: block;
  width: 100%;
  height: 588px;
  background: url(../html/img/dl.jpg);
  background-size: cover;
  background-position: center center;
}
#list ul {
  width: 300px;
  margin: 0 auto;
  margin-top: 60px;
}
#list ul a {
  float: left;
  height: 19px;
  color: #9d9d9d;
  border-right: 1px solid #9d9d9d;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
}
#list p {
  font-size: 14px;
  color: #9d9d9d;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
#box {
  width: 410px;
  height: 560px;
  background: white;
  position: absolute;
  top: 18%;
  right: 190px;
}
#box .top {
  width: 100%;
  height: 83px;
}
#box .top section {
  padding: 27px 0 24px 0;
  text-align: center;
}
#box .top section a {
  font-size: 26px;
  color: #f56600;
}
#box .top section a:nth-child(3) {
  color: #666;
}
#box .top section span {
  width: 1px;
  height: 24px;
  margin: 0 35px 0 42px;
  border: 1px solid #e0e0e0;
  background: #e0e0e0;
}
#box input {
  display: block;
  width: 316px;
  height: 22px;
  border: 1px solid #e8e8e8;
  color: #4a4a4a;
  margin: 0 auto;
  outline: none;
  padding: 13px 16px 13px 14px ;
  margin-bottom: 18px;
}
#box button {
  display: block;
  width: 348px;
  height: 50px;
  background: #ff6700;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
}
#box p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}
#box p a {
  font-size: 14px;
  margin: 0 auto;
  color: #ff6700;
}
#box article {
  text-align: center;
}
#box article a,
#box article span {
  font-size: 14px;
  color: #999;
}
#box .footer {
  width: 348px;
  height: 37px;
  margin: 0 auto;
  margin-top: 130px;
}
#box .footer a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 21px;
  position: relative;
}
#box .footer i {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 27%;
  left: 27%;
}
#box .footer a:nth-child(1) {
  background-color: #0288d1;
}
#box .footer a:nth-child(2) {
  background-color: #d32f2f;
}
#box .footer a:nth-child(3) {
  background-color: #0ae;
}
#box .footer a:nth-child(4) {
  background-color: #00d20d;
}
#box .footer .i1 {
  background: url(../html/img/jing.png);
  background-position: -19px 0;
}
#box .footer .i2 {
  background: url(../html/img/jing.png);
  background-position: -38px 0;
}
#box .footer .i3 {
  background: url(../html/img/jing.png);
  width: 25px;
  background-position: -57px 0;
}
#box .footer .i4 {
  background: url(../html/img/jing.png);
  width: 25px;
  background-position: -84px 0;
}
